<div class="selected-comic">
  {{fav-btn selected=model.isFavorite action="favorize"}}
  <div class="buttons">
    {{link-to "" 'comic.edit' model class="btn-edit"}}
  </div>
  <h3>{{model.title}}</h3>
  {{image-cover name=model.slug}}
  <dl>
    <dt>scriptwriter</dt>
    <dd>{{model.scriptwriter}} </dd>
    <dt>illustrator</dt>
    <dd>{{model.illustrator}}</dd>
    <dt>publisher</dt>
    <dd>{{model.publisher}}</dd>
  </dl>
</div>