<div class="row">
  <div class="comics">
    <h2>Comics list</h2>
    <ul>
      {{#each model as |comic|}}
        <li class="{{if comic.scriptwriter 'comic-with-scriptwriter' 'comic-without-scriptwriter'}}">
          {{#link-to "comic" comic}}
            {{comic.title}} by {{if comic.scriptwriter comic.scriptwriter "unknown scriptwriter"}}
          {{/link-to}}
        </li>
      {{else}}
        Sorry, no comic found
      {{/each}}
    </ul>
    {{link-to '' 'comics.create' class="add-comic"}}
  </div>

  {{outlet}}
</div>
